<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<!-- Cadena de conexión actualizada con hostname externo -->
		<add name="ConexionBD"
			 connectionString="Host=dpg-d09akk0gjchc738be2a0-a.oregon-postgres.render.com;Port=5432;Database=bd_control_escolar;Username=bd_control_escolar_user;Password=unDBqnv4m1AwX9mZVNqsMn0AshGHIh6D;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>
